/* Containers */
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding: 1% 20% 5% 20%
}

/* Carousels */
.carousel-caption {
    color: black;
    text-shadow: 0px 0px 10px white;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid black;
    border-radius: 15px;
}

/* Button Cards */
.btn-card {
    width: 100%;
    height: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    background-color: #cecece;
}
.btn-card:hover {
    background-color: #eee600;
    color: #b22222;
}
.btn-card:active {
    background-color: #beb800!important;
}

/* Drop Zone */
.drop-zone {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    background-color: #f1eeee;
    border-style: dotted;
    border-color: gray;
    border-radius: 7px;
    border-width: 2px;
}

/* Button Color */
.buttonyellow {
    color: #eee600 !important;
}